/* DEFAULTS
----------------------------------------------------------*/

body   
{
    font-family:  Arial, Helvetica, Verdana, sans-serif,"Helvetica Neue", "Lucida Grande", "Segoe UI";
    margin: 0px;
    padding: 0px;
    font-size: .80em;
    color: #333333;
}

a:link, a:visited
{
    color: #175b91;
}

a:hover
{
    color: #1c94bd;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
   
}


/* HEADINGS   
----------------------------------------------------------*/
hr{ color:#cccccc;
    height:1px;
    width:100%;
    border-top:1px solid #cccccc;
    border-bottom:0;
    border-left:0;
    border-right:0;
    
    }
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #1c94bd;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 2.0em;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-top:15px;
    
}

h2
{
    font-size: 1.5em;
    font-weight: 100;
    color:#006699;
    font-variant:normal;
}

h3
{
    font-size: 1.2em;
    font-weight: 100;
    color:#006699;
    font-variant:normal;
    text-align:center;
}

h4
{
    font-size: 1.1em;
    color:#333333;
    font-variant:normal;
    font-weight:bold;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 1180px;
    background-color: #fff;
    margin: 0px auto 20px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background:  transparent;
    width: 100%;
    height:250px;
    
}
.pic
{	position:absolute;
	margin-top:49px;
	background:#2e7cbb;
	width:100%;
	
	}
.bgmain
{
	position:absolute;
	margin:0px 0 0 0;
	
	
	}

.s7
{
	position:absolute;
	margin-top:63px;
	margin-left:477px;
	width:300px;
	
}
.s6
{
	position:absolute;
	margin-top:88px;
	margin-left:475px;
 background: transparent;
	width:300px;
	
}
/*.s6:hover
{
	position:absolute;
	margin-top:88px;
	margin-left:475px;
 background: #53bde5 url(/img/bgobr_left.png) repeat-y left;
	width:200px;
	
}*/
.s5
{
	position:absolute;
	margin-top:113px;
	margin-left:465px;

	width:300px;
	
}
.s4
{
	position:absolute;
	margin-top:138px;
	margin-left:450px;

	width:300px;
	
}
.s3
{
	position:absolute;
	margin-top:163px;
	margin-left:430px;

	width:300px;
	
}
.s2
{
	position:absolute;
	margin-top:187px;
	margin-left:405px;

	width:500px;
	
}
.s1
{
	position:absolute;
	margin-top:213px;
	margin-left:360px;

	width:500px;
	
}

.obr
{
	color:#b1cee3;
	font-size: 1.20em;
	font-family:Arial ;
	font-weight:normal;
	text-transform:uppercase;
	border:0;
	
		height:22px;
	}
	.obr a{ color:#ffffff; text-decoration:none;}
	.obr a:hover { color:#ffffff; text-decoration:none; background:#53bde5;}
.priem
{
	
	position:absolute;
	margin-top:100px;
	margin-left:820px;
	width:300px;
	color:#336699;
	font-size:1.1em;
}
.priemask
{
	position:absolute;
	margin-top:180px;
	margin-left:758px;
	width:134px;
	height:50px;
	color:#000000;
	font-size:1.0em;
	text-align:center;
	background: transparent url(/img/abit.png) no-repeat top;
	padding-top:10px;

	
}
.priemask a
{
	color:#336699;
	text-decoration:none;
	}
.priemask:hover a
{
	color:#ffffff;
	text-decoration:none;
	}
.priemask:hover
{
	position:absolute;
	margin-top:180px;
	margin-left:758px;
	width:134px;
	height:50px;
	color:#000000;
	font-size:1.0em;
	text-align:center;
	background: transparent url(/img/abit_.png) no-repeat top;
padding-top:10px;
	
}
.priemsite
{
	position:absolute;
	margin-top:180px;
	margin-left:900px;
	width:134px;
	height:50px;
	color:#000000;
	font-size:1.0em;
	text-align:center;
	background: transparent url(/img/abit.png) no-repeat top;
	padding-top:10px;

	
}
.priemsite a
{
	color:#336699;
	text-decoration:none;
	}
.priemsite:hover a
{
	color:#ffffff;
	text-decoration:none;
	}
.priemsite:hover
{
	position:absolute;
	margin-top:180px;
	margin-left:900px;
	width:134px;
	height:50px;
	color:#000000;
	font-size:1.0em;
	text-align:center;
	background: transparent url(/img/abit_.png) no-repeat top;
padding-top:10px;
	
}
.priemonline a
{
	color:#336699;
	text-decoration:none;
	}
.priemonline:hover a
{
	color:#ffffff;
	text-decoration:none;
	}
.priemonline
{
	position:absolute;
	margin-top:180px;
	margin-left:1040px;
		width:134px;
	height:50px;
	color:#000000;
	font-size:1.0em;
	text-align:center;
	background: transparent url(/img/abit.png) no-repeat top;
	padding-top:10px;

	
}
.priemonline:hover
{
	position:absolute;
	margin-top:180px;
	margin-left:1040px;
	width:134px;
	height:50px;
	color:#000000;
	font-size:1.0em;
	text-align:center;
	background: transparent url(/img/abit_.png) no-repeat top;
padding-top:10px;
	
}
#menuleftdiv
{
	background:#53bde5;
	}
#main
{
    margin: auto;
    width: 800px;
}
#main table
{
	border: 1px solid #dddddd;
	border-collapse:collapse;
	margin:15px 10px;
	width:100%;
}
#main table th
{
	border: 1px solid #dddddd;
	border-collapse:collapse;
	padding:3px 3px;
	background-color:#eeeeee;
	font-variant:normal;
	font-weight:normal;
}
#main table td
{
	border: 1px solid #dddddd;
	border-collapse:collapse;
	padding:3px 3px;
	font-variant:normal;
}
#main table.noborder
{
	border:0;
	
	margin:15px 10px;
	width:100%;
}
#main table.noborder th
{
	border: 0;
	
	padding:3px 3px;
	font-variant:normal;
	font-weight:normal;
}
#main table.noborder td
{
	border: 0;
	padding:3px 3px;
	font-variant:normal;
	border-collapse:collapse;
}
#main table.news
{
	border:0;
	width:100%;
}
#main table.news th
{
	border: 0;
	
	padding:3px 3px;
	font-variant:normal;
	font-weight:normal;
	border-collapse:collapse;
}
#main table.news td
{

	padding:3px 3px;
	font-variant:normal;
	border-collapse:collapse;
	border-bottom:1px solid #cccccc;
	border-top:1px solid #ffffff;
	border-bottom:1px solid #ffffff !ie;
	border-top:1px solid #cccccc !ie;
	border-left:1px solid #ffffff;
	border-right:1px solid #ffffff;
	
}

.footer
{
    color: #ffffff;
    padding: 8px 0px 8px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
    background-color:#2e7cbb;
}
/*       #menutleft*/

#menuleftdiv
{
	position:relative;
	background-color:#eeeeee;
	float:left;
	
	/*min-height:200px;*/
	
	margin: 0 0 0 0;
width:235px;
padding:0px 0px 30px 0px;
min-height:800px;

}
#menuleftdiv a
{
	color:#ffffff;
	text-decoration:none;
	background-color:transparent;
	z-index:200;
	}
	
	.leftmenuitem
	{
		background-color:#2e7cbb;
	
	}
.leftmenuitem:hover
	{
		background-color:#1c94bd;
	}
	.leftmenuitemdin
	{
		background-color:#1c94bd;
			white-space:nowrap;
		padding-right:20px;
		
		
	}
.leftmenuitemdin:hover
	{
		background-color:#2e7cbb;
	}

/*       #menutop*/
#menutopdiv
{
	background:#53bde5;
	padding: 10px 10px 10px 250px;
border-bottom:2px solid #164676;

	}
.menutop
{
	
	font-size:1.0em;

}


.menutop ul.level1 li
{
border-right:1px solid #1c94bd;	
border-bottom: 1px solid #53bde5;
border-left: 1px solid #53bde5;
border-top: 1px solid #53bde5;
padding:1px 5px;
	
}
.menutop ul.level1 li:hover
{
	background-color:#1c94bd;
	border:1px solid #1c94bd;	
}
.menutop ul.level1 a
{
	color:#ffffff;
	text-decoration:none;
}



.menutop ul.level2 
{
	border:0;
	margin-top:2px;

}

.menutop ul.level2 li
{
border:0;
padding:3px 5px;
background-color:#1c94bd;
margin-bottom:2px;


}
.menutop ul.level2  li a
{
color:#ffffff;

}
.menutop ul.level2 li:hover
{
	border:0;
	background-color:#2e7cbb;
}

div.fon
{
	
position:fixed;
left:0;
top:0;
right:0;
bottom:0;
height:1500px;

	 background-color: black;
  /*background-color: rgba(0, 0, 0, 0.5);*/
filter: alpha(opacity=50); /* IE 5.5+*/
   -moz-opacity: 0.5; /* Mozilla 1.6 и ниже */
   -khtml-opacity: 0.5; /* Konqueror 3.1+, Safari 1.1 */
   opacity: 0.5; 
}
div.photo
{
	position:absolute;
	right:0;
	left:0;
	top:0px;

	text-align:center;
	vertical-align:middle;
	height:100%;
	z-index:100;
	
}
.results
{
	text-align:left;
	background-color:#ffffff; border:3px solid #999999; width:600px; padding:0px 20px 20px 20px;
	margin:50px auto auto auto;
}
.rasp
{
	text-align:left;
	background-color:#ffffff; border:3px solid #999999; width:800px; padding:0px 20px 20px 20px;
	margin:50px auto auto auto;
}
.imagesmall
{
	margin:15px 15px 15px 15px;
	text-align:left;

}
.notification
{
	color:Red;
}
 a.dp
{
	 color:#999999;
	 text-decoration:none;
	 padding:3px 5px 3px 5px;
	 margin: 0 5px;
	 background: #ffffff url(/img/bg-btn_.png) repeat-x top;
	 border:1px solid #cccccc;
	


}
a.dp:hover
{
	 color:#666666;
	 text-decoration:none;
	padding:3px 5px 3px 5px;
	 margin: 0 5px;
	 background: #ffffff url(/img/bg-btn.png) repeat-x top;
	 border:1px solid #aaaaaa;

 

}
.dpc
{
	 color:#ffffff;
	 text-decoration:none;
	 padding:3px 5px 3px 5px;
	 margin: 0 5px;
	 border:1px solid #bbbbbb;
	 background-color:#bbbbbb;
    
}
.btn
{
	margin:0px 5px 0px 5px;
	margin:0px 5px 0px 5px !ie;
	padding:0 0 0 0;
vertical-align:middle ;
	filter: alpha(opacity=70); /* IE 5.5+*/
   -moz-opacity: 0.7; /* Mozilla 1.6 и ниже */
   -khtml-opacity: 0.7; /* Konqueror 3.1+, Safari 1.1 */
   opacity: 0.7; 
   border:0;
  

}
.btn:hover
{
	margin:0px 5px 0px 5px;
	margin:0px 5px 0px 5px !ie;
	padding:0 0 0 0;
	vertical-align:middle ;
	filter: alpha(opacity=100); /* IE 5.5+*/
   -moz-opacity: 1.0; /* Mozilla 1.6 и ниже */
   -khtml-opacity: 1.0; /* Konqueror 3.1+, Safari 1.1 */
   opacity: 1.0; 
      border:0;
  

}
#YMapsID-838 table
{
	border:0px;
 width:1px;
 text-align:center;
 border-collapse:collapse;
 padding:0 0;
 margin:0 0;

	
	
}
#YMapsID-838 table td
{
	padding:0 0 0 0;
	border:0px;
	 border-collapse:collapse;

}
div.baloon
{
	width:400px;
	height:200px;
	white-space:normal;
	 border-collapse:collapse;
}
	.odd1
{
	
	background:#aedefa;
	
	}
	.odd2
{
	
	background:#ffcccc;
	
	}
	.lek1{
	background-color: #E0C8FF;

}
.lek2 {
	background-color: #7FFFD4;

}
.lek3 {
	background-color: #80ADFF;

}
.lek4 {
	background-color: #FF69B4;

}
.lek5 {
	background-color: #FF4687;

}
.lek6 {
	background-color: #FFBF46;

}
.lek7 {
	background-color: #46E1FF;

}
.lek8{
	background-color: #ff0000;

}
.lek9 {
	background-color: #46FF64;

}
.bgblue
{
color:#ffffff; background:#1c94bd; font-size:1.2em; font-weight:bold; border:1px solid #1c94bd;	
}
.bgCyan
{
color:#ffffff; background:#2e7cbb; font-size:1.2em; font-weight:bold; border:1px solid #2e7cbb; margin-top:1px;
}
div.divright
{float:right; margin-left:20px; margin-top: -11px; margin-bottom:10px; margin-right: 0px; padding:0 0; width:220px;
}
div.padding
{
padding: 2px 2px;
text-align:center;	
}
div.headerborder
{
	border:1px solid #cccccc;  background:#eeeeee;margin:0px;padding:5px; text-align:center; color:#336699; border-top:0;
	
	}
div.border{ border:1px solid #cccccc; margin:0px; padding:5px; border-top:0; text-align:center;}

.cover
{
margin:5px 10px 10px 0px;
width:120px;
float:left;
}

#divflags
{
	position:absolute;
	
	text-align:center;  
	width:250px;
	top:10px;
	margin-left:950px;
	
	
	}
	#country
{
	position:absolute;
	
	text-align:left;  
	width:130px;
	top:260px;
	margin-left:10px;
	
	
	}

.dayFalse, .dayTrue   
{
    color: #336699;
    background: #bdd5ed;
    text-align: center;
}